/* Body Background */

body {
  background-size: cover;
}

.konten1 {
  background-color: #68bbe3;
}

/* .konten2 {
    background-color: #d3e0ea;
} */

/* Search Button */

.gambar-cari {
  width: 20px;
  height: 20px;
}

/* Search Box */

.img-fluid {
  width: 65px;
  height: 50px;
  /* margin: 10px 2px 0 0; */
}

.form-inline {
  width: 370px;
  height: 22px;
}

.btn-login-awal {
  font-family: Merriweather;
  background-color: #003060;
  /* border-color: #276678; */
  color: white;
  margin-right: 10px;
}
.btn-login-awal:hover {
  font-family: Merriweather;
  background-color: #fbe698;
  color: #003060;
  margin-right: 10px;
}

/* Homepage 5 */

.kata8-title {
  /* margin: 70px 0 0px 0; */
  font-size: 23px;
  text-align: justify;
  font-family: Salsa;
}

.kata8 {
  text-align: justify;
  font-size: 20px;
  font-family: Ruluko;
  /* margin: 0px 30px 0 0px; */
}

/* Body Home page 4 */

.Agenda {
  margin: 0 0 0 0;
  flex-grow: 0;
  font-family: Salsa;
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}
.Berita {
  background-color: #68bbe3;
}

.card-date {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 30px;
}

.card-info {
  font-family: "Ruluko", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

/* Body Homepage 3 */

/* Body Homepage 2 */

.img-kepsek {
  width: 180px;
  height: 240px;

  border-radius: 11px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25);
}

.kata4 {
  font-size: 40px;
  font-family: Salsa;
  margin: 50px 0 0 0px;
  margin-left: 200px !important;
}

.kata5 pre {
  line-height: 2;
  font-size: 18px;
  font-family: Ruluko;
  margin: 20px 0 0 0px;
}

/* Body Homepage 1*/

.img-sekolah {
  width: 581px;
  height: 600px;
}

.kata1 {
  font-size: 25px;
  font-family: Ruluko;
  /* padding: 120px 50px; */
  margin: 120px 0 0 50px;
}

.kata2 {
  font-size: 40px;
  font-family: Salsa;
  margin: 0 0 0 50px;
}

.kata3 {
  font-size: 25px;
  font-family: Ruluko;

  margin: 30px 0 0 50px;
}

/* Footer 2 */

/* Footer */

/* body footer {
  background-color: rgba(22, 135, 167, 0.6);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  bottom: 0%;
  left: 0%;
  right: 0%;
}

body footer .col-2 {
  font-size: small;
  padding-top: 12px;
  padding-bottom: 12px;
} */

/* Media Size Support */

@media only screen and (max-width: 70rem) {
  /* Search */
  .btn {
    font-size: 15px;
  }
  .gambar-berita {
    /* width: 235px;
        height: 232px;
        margin: 59px 0 67px 0px; */
    display: none;
  }
  /* Body Home page 4 */
  .kata8-title {
    /* margin: 70px 0 0px 0; */
    font-size: 20px;
  }
  .kata8 {
    text-align: justify;
    font-size: 18px;
    font-family: Ruluko;
    /* margin: 0px 30px 0 0px; */
  }
  .Agenda {
    /* margin: 20px 0 0 0; */
    flex-grow: 0;
    font-family: Salsa;
    font-size: 30px;
    font-weight: normal;
    /* font-stretch: normal; */
    /* font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000; */
  }
  /* Homepage 4 */

  /* Homepage 3 */

  /* Homepage 2 */
  .img-kepsek {
    /* width: 235px;
        height: 232px;
        margin: 59px 0 67px 0px; */
    display: none;
  }
  .kata4 {
    font-size: 10px;
    margin: 110px 0 0 0;
  }
  .kata5 pre {
    font-size: 10px;
  }
  /* Homepage 1 */
  .img-sekolah {
    display: none;
  }
  .kata1 {
    margin: 60px 0 0 50px;
  }
  .kata2 {
    font-size: 30px;
  }
  .kata3 {
    font-size: 20px;
  }

  .d-flex {
    font-size: 8px;
  }
}
