body {
    background-color: #f6f5f5;
    header {
        .navbar-brand {
            font-family: "Ruluko", sans-serif;
            font-size: 25px;
            font-weight: bold;
        }
        h6 {
            font-family: "Merriweather", serif;
            font-size: 17px;
            font-weight: bold;
            margin-top: 10px !important;
        }
        .dashboard {
            background-color: rgba(22, 135, 167, 0.6);
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            opacity: 0.9;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .mainmenubtn {
            position: absolute;
            background: url("images/profil.png");
            border: none;
            cursor: pointer;
            /* left: 950px; */
            top: -15px;
        }
        .dropdown {
            position: relative;
            display: inline-block;
        }
        .dropdown-child {
            position: absolute;
            padding: 20px 20px 20px 20px;
            display: none;
            height: 170px;
            background-color: rgba(39, 102, 120, 1);
            border-radius: 5px;
            min-width: 260px;
            top: 20px;
            /* left: 710px; */
            z-index: 999;
            right: -40px;
        }
        .card {
            color: rgb(12, 12, 12);
            background-color: rgb(255, 255, 255);
            padding-top: 10px;
            // width: 268px;
            height: 110px;
            text-decoration: none;
            display: block;
            border-radius: 5px;
            margin-bottom: -8px;
            img {
                border-radius: 50%;
            }
            p {
                margin-top: 3px;
                font-family: "Merriweather", serif;
                font-size: 12px;
            }
        }
        .btn {
            margin-top: 13px;
            border-radius: 10px;
            font-family: "Merriweather", serif;
            font-size: 10px;
            background-color: #d3e0ea;
            border-color: black;
            color: black;
            font-weight: bold;
        }
        .dropdown:hover .dropdown-child {
            display: block;
        }
    }
    main {
        font-family: "Mukta", sans-serif;
        .close {
            margin-top: -40px;
        }
        .container-1 {
            margin-top: -10px !important;
        }
        .container {
            margin-top: 70px;
        }
        .form-control {
            background-color: #d3e0ea;
            border-color: #000;
            height: 40px;
        }
        .form-control-1 {
            margin-left: auto;
            background-color: #d3e0ea;
            border-color: #000;
            border-radius: 5px;
            width: 245px;
        }
        .custom-select {
            background-color: #d3e0ea;
            border-color: #000;
            border-radius: 5px;
        }
        .btn {
            margin-left: auto;
            border-color: black;
            color: black;
            width: 236px;
            background-color: white;
        }
        @media screen and (max-width: 1200px) {
            .form-control,
            .form-control-1,
            .custom-select {
                width: 100%;
                margin-top: 0;
            }
            .btn {
                width: 100%;
                margin-top: 0;
                margin-top: 20px;
            }
        }
    }
}

footer {
    margin-top: 122px;
    background-color: rgba(22, 135, 167, 0.6);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    .col-2 {
        font-size: small;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    @media screen and (min-width: 1700px) {
        /* Footer */
        .col-2 {
            font-size: 8px;
            height: 1777px;
        }
    }
}
