.box1 {
    margin: auto;
    margin-top: 45px;
    margin-bottom: 20px;
    width: 95%;
    background: #c4c4c4;
    padding: 20px;
    height: 170px;
}

.box2 {
    margin: auto;
    border: 1px solid black;
    padding-top: 25px;
    padding-bottom: 50px;
    width: 95%;
    background: #f6f5f5;
}

#mapel {
    text-align: center;
}

li {
    list-style: none;
}

.kolom1 {
    margin-top: 15px;
}

.kolom2 {
    margin-top: -113px;
    margin-left: 60%;
}

.tabel1 {
    margin: auto;
    width: 85%;
}

.kel {
    text-align: left;
}

.tabel2,
.tabel3 {
    margin-top: 30px;
    margin-left: 35px;
    width: 400px;
    margin-bottom: 50px;
}

.orangtua {
    margin-left: 35px;
}

.walikelas {
    margin-top: -166px;
    margin-left: 80%;
}

.submit {
    margin-top: 100px;
    margin-bottom: 200px;
    margin-left: 80%;
    background-color: rgb(250, 244, 245);
    border: 1px solid black;
}

footer .container {
    margin-top: 150px;
}

.download a {
    text-decoration: none;
}
